.testimonial-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.testimonial-card img{
    border-radius: 50%;
    box-shadow: 5px 5px 12px #626361;
    margin-bottom: 12px;
}
.testimonial-text{
    display: flex;
    flex-direction: column;
    align-items: left;
}