header{
    background-color: black;
    color: white;
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    opacity: 1;
    border: 0;
}
header a{
    color: white;
}
header li:hover, :focus{
        color: #ffffff;
        background: #008cff;
        border: 1px solid #008cff;
        text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
        box-shadow: 0 0 5px #008cff, 0 0 20px #008cff, 0 0 50px #008cff,
          0 0 100px #008cff;
}
.header-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
