.hamburger-icon {
    width: 30px;
    height: 19px;
    position: relative;
    cursor: pointer;
  }
  
  .hamburger-icon span {
    position: absolute;
    height: 3px;
    width: 100%;
    background: #ffffff;
    border-radius: 3px;
    transition: transform 0.3s ease;
  }
  
  .hamburger-icon span:nth-child(1) {
    top: 0;
  }
  
  .hamburger-icon span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
  }
  
  .hamburger-icon span:nth-child(3) {
    bottom: 0;
  }
  .hamburger-icon.open span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger-icon.open span:nth-child(2) {
    opacity: 0;
  }
  .hamburger-icon.open span:nth-child(3) {
    transform: translateY(-8px) rotate(-40deg);
  }
  .nav-wrapper{
    position: relative;
  }
  .hamburger-icon > span{
    position: absolute;
    right: 0;
  }
  .nav-wrapper *{
    padding: 0;
    margin: 0;
  }
  .nav-items-wrapper{
    top: 40px;
    right: 0px;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    max-height: 300px;
    width: 250px;
    overflow: hidden;
    flex-wrap: nowrap;
    background-color: black;
    padding: 20px 0;
    border-radius: 12px;
  }  