.testimonial-container{
    display: grid;
    grid-template-rows: 1 auto;
    grid-template-columns: repeat(4, auto);
    padding: 20px auto;
    justify-content: center;
    column-gap: 10%;
}
.testimonial h2{
    margin: 20px 0;
    text-transform: uppercase;
}
.testimonial{
    min-height: 400px;
    padding-top: 40px;
}
@media(max-width : 768px){
    .testimonial-container{
        grid-template-rows: repeat(2, auto);
        grid-template-columns: repeat(2, auto);
        row-gap: 25px;
        column-gap: 150px;
    }
}

@media(max-width : 480px){
    .testimonial-container{
        grid-template-rows: repeat(4, auto);
        grid-template-columns: auto;
    }
}